@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #275950, #9BF2EA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(73, 69, 69, 0.559);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2CB05;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(115, 97, 9, 0.442);
}

h2 {
    color: #F23030;
}

p {
    text-align: justify;
}