@charset "UTF-8";

/*
   em HTML é id = em CSS é # (só pode um elemneto)
   em HTML é class = em CSS é . (pode vários elemntos)
*/

body {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(93, 49, 7);
}

.basico {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.intermediario {
    color: rgb(0, 76, 255);
}

.avncado {
    color: rgb(93, 49, 7);
}

.destaque {
    background-color: rgb(190, 190, 75);
}